@import "twitter/bootstrap";
@import "bootstrap-select/less/bootstrap-select";


#main-logo {
  max-height: 200px;
}

.col-centered{
  float: none;
}

.slot-container {
  width: 300px;
}

.slot-select {
  padding: 10px;

  .center-block();
}